{% extends "base.html" %}

{% block title %}ToDo | Signup{% endblock title %}

{% block body %}
<form action="{% url 'signup'  %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="form2Example1" class="form-control" />
        <label class="form-label" for="form2Example1">User Name</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control" />
        <label class="form-label" for="form2Example2">Conform Password</label>
    </div>


    <!-- Submit button -->
    <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">SignUp</button>

    <!-- Register buttons -->
    <div class="text-center">
        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-facebook-f" style="color: lightblue;"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-google" style="color: lightblue;"></i>
        </button>

        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-twitter" style="color: lightblue;"></i>
        </button>

        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-link btn-floating mx-1">
            <i class="fab fa-github" style="color: lightblue;"></i>
        </button>
    </div>
</form>
{% endblock body %}