{% extends "base.html" %}

{% block title %} ToDo | Home {% endblock title %}

{% block body %}
    <div class="container">
        
        <h1> Welcome to the ToDo App! 🎉 </h1>
        <p>
            We're thrilled to have you here. Remember, every accomplished task starts with a decision to try. So, let's get started! Create your tasks, break them down into manageable bits, and tackle them one at a time. Every tick on that checkbox, no matter how small the task, brings a wave of accomplishment and pushes you closer to your goals. Don't worry about the pending tasks. They're not obstacles, but stepping stones to your success. Each one is an opportunity for growth and learning. So, dive in, start ticking off those tasks, and embrace the journey to productivity. You've got this! 💪
        </p>
        
    </div>
    <div class="container">
        <a href="{% url 'todolist'  %}" ><h4>Step into your task zone!</h4></a>
    </div>
    {% if user %}
        <div class="container">
            <a href="{% url 'manage'  %}" ><h4>Manage Acoount!</h4></a>
        </div>
        <div class="container">
            <a href="{% url 'signout'  %}" ><h4>Logout!</h4></a>
        </div>
    {% endif %}
{% endblock body %}
